div{
    padding-top: 5px;
}
.panel{
    border-radius: 28px !important;
}

/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: local('Cinzel-Regular'), url(https://fonts.gstatic.com/s/cinzel/v4/zOdksD_UUTk1LJF9z4tURA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body{
    margin: 0;
    height: 100%;
    background: url("../res/sigillo.png"),url('/res/illustration.png');
    background-position:  bottom left, left center;
    background-repeat: no-repeat, no-repeat ;
    background-size: 230px, auto;


}

.illustrationClass {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 230px;
}
.illustrationClass {
    background-image: url("../res/sigillo.png");
}

#brandname {
    font-family: 'Cinzel', serif;
    position: fixed;
    bottom: 10px;
    left:50px;
    color: white;
    font-family: Cinzel, serif;
    font-size: 2.5em;
}
#brandname .nome{
    padding-top: 0;
    font-size: 0.9em;
}
#brandname p.titoletto {
    font-size: 0.6em;
    line-height: 6px;
    padding-top: 0;
}

@media only screen and (max-width: 1050px) {
    #brandname {
        font-size: 1.4em;
        /*position: absolute;
        bottom: auto;
        top: 35px;
        left: 50px;
        right: auto;
        width: auto;
        color: #555;
        z-index: 1;
        font-size: 1.4em;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 20px;
        padding-bottom: 12px;*/

    }
}
@media only screen and (max-width: 600px) {
    #brandname {
        font-size: 1.6em;
        left: 0;
    }
}

@media only screen and (max-width:319px){

    #brandname {
        font-size: 1em;
        /*
        padding-top: 15px;
        padding-left: 0px;
        background-position: center top;
        background-image: none;*/
    }
}


.panel-login{
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 30px 13px rgba(0,0,0,0.2) !important;
    /*box-shadow: 8px 8px 30px #ccc !important;*/
}
.panel-login>.panel-heading {
    color: #00415d;
    /*background-color: #fff;*/
    border-color: #fff;
    text-align: center;
}
.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size:15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

/*
Input behind panel login
 */
.panel-login input{
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.group-login{
    /*
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #ccc;
    */
    border-radius: 5px;

}

input{
    text-align: center;
}

/*
.panel-login input:hover,
.panel-login input:focus{
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color:#ccc;
}*/

.btn.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size:14px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    padding: 14px 0;
    border-color: #59B2E6;
}
.btn.btn-login:hover,
.btn.btn-login:focus{
    color: #fff;
    background-color: #53a3cd;
    border-color: #53a3cd;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}
/*
.btn.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn.btn-register:hover,
.btn.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
.pwstrength_viewport_progress>div{
    padding-top:0!important;
}
.pwstrength_viewport_progress>.progress{
    border-radius: 18px;
    height: inherit;
}*/