/**
 * Created by CarloAlberto on 22/12/16.
 */

#navbar5 .navbar-left{
  margin-top:0px;
}
#nav-title{
    background: none;
    /*background-color: white;
    /*border: 1px outset red;
    border-radius: 20px;*/
}

#nav-options{
    /*background: linear-gradient(to top, rgb(243, 151, 151), rgba(0, 0, 0, 0));*/
    background-color: #F44336;
    margin-right:-15px;
    margin-left:-15px;
    top:81px;
    position: fixed;
    width: 100%;
}
#nav-options ul a:hover {
    transition: background-color 0.4s linear;
    background-color: #D50000;
    border-radius:5px;
}

#nav-options a{
    color: #333333;
}
.navbar-brand {
  padding: 0px;
  margin-top: 5px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

a#member-email:hover{
    transition: none !important;
    background: none !important;
    font-weight: bold;
}
a#profile-btn:hover{
    background-color: blue !important;
    font-weight: bold;
}

a#logout-btn:hover{
    font-weight: bold;
}

#notification_list{
    overflow-y: auto;
    max-height: 320px;
}

#notification_list a:hover{
    transition: none !important;
    background-color: #ffbb88 !important;
    border-radius: 0 !important;
}

.notification-not-viewed{
    background-color: #e2f8ff;
}

.no-active{
    display: none !important;
}

.not-media{
    margin-top: 5px;
    overflow: hidden;
    vertical-align: top;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.navbar-nav>li {
    display: inline-block;   /* QUANTO TEMPO MI HA FATTO PERDERE QUESTO!!!!!!!! */
}

.title{

}

.notification-item{

}
.notification-item a:hover{

    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    background-color: lightblue;
}

#header-image{
    position: absolute;
    width: 50%;
    height: auto;
    right: 27%;
}
hr{
    margin-top: 0;
    margin-bottom:0;
}

header{
    /*padding-top:10px;
    background: url('res/header.png') no-repeat;
    background-position: right top;
    background-size: contain;*/
    /*background: radial-gradient(white 50%, #F44336);*/

    /*background: linear-gradient(to left, rgb(67, 198, 172), rgb(248, 255, 174))*/

    opacity: 1;
    background-color: rgb(254, 180, 123);
    background-image: linear-gradient(to left, rgb(255, 126, 95), rgb(254, 180, 123))

}

.titlebox{
    padding-top: 10px;
    padding-bottom: 10px;
}

.titlebox>.navbar-default{
    border:none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
    /*padding-top: 15px;*/

}

body,
html { height: 100%;}

@font-face {
  font-family: 'TrajanProRegular';
  src: url('../fonts/TrajanProRegular.eot');
  src: local('TrajanProRegular'), url('../fonts/TrajanProRegular.woff') format('woff'), url('../fonts/TrajanProRegular.ttf') format('truetype');
}

/* use this class to attach this font to any element i.e.
<p class="fontsforweb_fontid_13972">Text with this font applied</p> */
.myTrajanFont {
    font-family: 'TrajanProRegular', serif !important;
}


/*Logo with Text*/
.titlebox .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.titlebox .navbar-brand>img {
  padding: 7px 14px;
}

/* Center with Flexbox and Text*/
.brand-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
    Some adjustement for screen-xs
 */
@media (max-width:767px){
    .navbar-nav .open .dropdown-menu {
        position: absolute ;
        background-color: white;
        margin-top: 9px;
    }

    .navbar-nav>li>.dropdown-menu {
        z-index: 90;
        margin-left:0 !important;
    }

    #logo-nav{
        display: none !important;
    }

}
@media (max-width:1080px){
    #logo-nav{
        font-size: 12px !important;
    }
}
@media (max-width:850px){
    #logo-nav{
        font-size: 10px !important;
    }
}


.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	-webkit-transform: translate(0,-50%);
	        transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 90;
    margin-left:-173px;
    padding-top:0;
}
.img-responsive2 {
  margin-top:0;
  display: inline-block;
  max-width: 20%;
  height: auto;
}



.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.row{
    margin-right: -15px ;
    margin-left: -15px ;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 10;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(36, 38, 38, 0.77);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: width 0.5s ease;

}

.navbar-fixed-top{
    top: 81px;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    /*padding-top: 70px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 51px;
    font-size: 20px;
    line-height: 31px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.myHamb{
    margin-top: 2px;
    margin-left: -15px;
}
.myHamb:hover{

}
.hamburger {
    position: relative;
/*    top: -46px;*/
    z-index: 99;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #960000;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #960000;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

.navbar-login
{
    width: 220px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/****************************** /

            Footer

/*******************************/

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 40px 40px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 49%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 21px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

/* ************************** /*
        Footer Center

/* ************************** */

footer{
    background: url("../res/illustration.png") center;
    position:relative;
    bottom:0;
    width:100%;
}

.footer-links a:hover{
    /*color: #00188b;*/
    color: #7b0000
}

.footer-distributed .footer-center{
    width: 49%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    /*color:  #ca0000;*/
    color: white;
    text-decoration: underline;
}

.footer-distributed .footer-center p a:hover{
    color: #7b0000;

}
.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}



@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

/*********************************

            LOGIN

 *********************************/



/*********************************

            background loading

 *********************************/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("/res/Preloader_7.gif") center no-repeat #fff;
}

/*********************************

            TABLE

 *********************************/

table {
    padding-top: 10px;
}

.list tr:hover td{
    background-color: #ffbb88;
}

.tr-row-disabled{
    background-color: #b7aaaa !important;
    opacity: 0.8;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

/****************************

        CALENDAR

 ****************************/

#calendar {
    max-width: 310px;
    float: right;
    display: inline-block;
    /*margin-right: 19px;*/
}
#calendar-title{
    /*font-family: 'Cinzel', serif;*/
    font-size:22px !important;
    /*margin-bottom: 15px;*/
}

.fc-bg td:hover,
.fc-content-skeleton > table > thead > tr > td:hover,
.fc-content-skeleton > table > tbody > tr > td:hover{
    background-color: #ffbb88;
}

/*********************************

            MODAL

 *********************************/

.modal {
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.modal-header {
    background-color: #F44336;
}

.modal-header span {
    font-size: 150%;
}

/*******************

        NEWS

 ******************/

#news-title{
    /*font-family: 'Cinzel', serif;*/
    font-size:22px;
    /*margin-bottom: 20px;*/
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555;
}

/*************************

        THUMBNAIL

 **************************/

.thumbnail {
    position:relative;
    overflow:hidden;
}

.thumbnail .img-container img{
    max-width: 100%;
    transition: all 0.5s;
}

.thumbnail:hover .img-container img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(255, 73, 59, 0.53);
    width: 100%;
    height: 100%;
    padding:2%;
    display: none;
    text-align:center;;
    color:#fff !important;
    z-index:2;
}

.caption h2 {
    padding-top: 25%;
}

/*/
        ANIMATION
 */

.animated {
    animation-duration: 0.5s !important;
}

/********************

    BREADCRUMB

 ********************/

.breadcrumb {
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.breadcrumb a {
    color: black;
}

/******************

       JUMBOTRON

 ******************/

.jumbotron {
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px grey solid;
    border-radius: 0px !important;
}

.jumbotron h1 {
    font-size: 300%;
}

/*************

    FILTER

 ************/

.filter {
    padding-bottom: 2%;
    padding-top: 1%;
}

/*************

    WEATHER

 ************/

.wather-wrapper {
    background-color: #a6e1ec;
    /*width: auto;
    height: inherit;*/
    text-align: left;
    padding: 1% 1% 1% 4%;
    color: #526ccd;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5%;
    text-shadow: 2px 2px lightgrey;
}

.wather-wrapper span {
    color: white;
}

.wather-wrapper img {
    display: block;
    margin: auto;
    padding-right: 2%;
}